<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/app-icon.png">
    <link rel="stylesheet", href="/css/styles.css">    

</head>
   
<body>

    <div class="main-content">
        {{>header}}
        <p><img id= "surfer", src="/img/longboarding.jpg"></p>
        <h2>about: {{about}}</h2>
    </div>
   
    {{>footer}}

</body>


</html>