<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/app-icon.png">
    <link rel="stylesheet", href="/css/styles.css">

</head>
    
<body>
    
     <div class="main-content">
        {{>header}}

        <h2>{{getHelp}}</h2>
     </div>

    {{>footer}}

</body>


</html>