<!DOCTYPE html>

<html>
<head>
    <title>Not found</title>
    <link rel="icon" href="/img/app-icon.png">
    <link rel="stylesheet", href="/css/styles.css">

</head>
    
<body>

     <div class="main-content">
        {{>header}}
        <h2>{{error}}</h2>
        <img id = "not-found", alt="page not found image", src="/img/error-not-found.png">
    </div>

    {{>footer}}

</body>


</html>